# Only project- and language-specific ignores in here. Use global .gitignore for editors etc

# Vagrant
.vagrant/

# node.js
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
